<div class="main">
  <div class="header">
    <h3>Cadastrar Cliente</h3>
  </div>

  <div class="inputs">
    <form>
      <div class="form-group">
        <label for="inputName">Nome</label>
        <input
          type="text"
          class="form-control"
          id="inputName"
          placeholder="Digite o Nome"
        />
      </div>
      <div class="form-group">
        <label for="InputEmail">Email</label>
        <input
          type="email"
          class="form-control"
          id="InputEmail"
          placeholder="Digite o email"
        />
      </div>
      <div class="form-group">
        <label for="inputTelefone">Telefone</label>
        <input
          type="tel"
          class="form-control"
          id="inputTelefone"
          placeholder="Digite o Telefone"
        />
      </div>
      <div class="form-group">
        <label for="inputVeiculo">Modelo do Veículo</label>
        <input
          type="text"
          class="form-control"
          id="inputVeiculo"
          placeholder="Digite o Modelo do Veículo"
        />
      </div>
      <div class="form-group">
        <label for="inputPlaca">Placa</label>
        <input
          type="text"
          class="form-control"
          id="inputPlaca"
          placeholder="Digite a Placa do Veículo"
        />
      </div>
      <div class="form-group">
        <label for="inputPagamento">Valor do Pagamento</label>
        <input
          type="number"
          class="form-control"
          id="inputPagamento"
          placeholder="Digite o Valor do Pagamento"
        />
      </div>
      <div class="form-group">
        <label for="inputData">Data do Pagamento</label>
        <input
          type="date"
          class="form-control"
          id="inputData"
          placeholder="Selecione a data a receber"
        />
      </div>
    </form>


    <div class="buttons">
      <button type="submit" class="btn btn-primary">Cadastrar</button>
      <a routerLink=""><button type="submit" class="btn btn-danger">Cancelar</button></a>

    </div>
  </div>
</div>
