.home {
  a {
    text-decoration: none;
  }
  background-color: rgba(224, 224, 224, 0.836);
  width: auto;
  height: 550px;
  margin-top: -3px;
  padding: 10px;

  .cards {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    mat-icon {
      padding: 8px;
      width: 50px;
      height: 50px;
      font-size: 40px;
      margin-left: 5px;
    }

    .add {
      display: flex;
      justify-content: space-evenly;
      background-image: url(https://ee49be99e0.cbaul-cdnwnd.com/2f945ac7904363b3caed289d0e752bb7/200000003-af454af456/FUNDO%20SOLIDY.jpg?ph=ee49be99e0);
      display: flex;
      width: 150px;
      height: 150px;
      box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
      border: 1px solid rgba(var(--lightGrey), 1);
      border-radius: 10px;
      color: whitesmoke;
      font-size: 25px;
      margin: 10px;
      &:hover {
        cursor: pointer;
      }
      .mat-mdc-card-content {
        display: flex;
        justify-self: end !important;
        text-align: end;
        padding: 0 15px 15px 0;
        line-height: 30px;
        font-family: "Belanosima", sans-serif;
      }
    }
    .cfg {
      display: flex;
      justify-content: space-evenly;
      background-image: url(https://ee49be99e0.cbaul-cdnwnd.com/2f945ac7904363b3caed289d0e752bb7/200000003-af454af456/FUNDO%20SOLIDY.jpg?ph=ee49be99e0);
      display: flex;
      width: 150px;
      height: 150px;
      box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
      border: 1px solid rgba(var(--lightGrey), 1);
      border-radius: 10px;
      color: whitesmoke;
      font-size: 25px;
      margin: 10px;
      &:hover {
        cursor: pointer;
      }
      .mat-mdc-card-content {
        display: flex;
        justify-self: end !important;
        text-align: end;
        padding: 0 15px 15px 0;
        line-height: 30px;
        font-family: "Belanosima", sans-serif;
      }
    }
    .cal {
      display: flex;
      justify-content: space-evenly;
      background-image: url(https://ee49be99e0.cbaul-cdnwnd.com/2f945ac7904363b3caed289d0e752bb7/200000003-af454af456/FUNDO%20SOLIDY.jpg?ph=ee49be99e0);
      display: flex;
      width: 320px;
      height: 130px;
      box-shadow: 0 5px 8px rgb(0 0 0 / 20%);
      border: 1px solid rgba(var(--lightGrey), 1);
      border-radius: 10px;
      color: whitesmoke;
      font-size: 25px;
      margin-top: -190px;
      &:hover {
        cursor: pointer;
      }
      .mat-mdc-card-content {
        display: flex;
        text-align: baseline !important;
        align-self: end;
        padding: 0 15px 15px 0;
        line-height: 30px;
        font-family: "Belanosima", sans-serif;
      }
    }
  }
}
