<div class="home">
  <div class="cards">
    <a routerLink="add">
    <mat-card class="add">
      <mat-icon>person_add</mat-icon>
      <mat-card-content>Adicionar Cliente</mat-card-content>
    </mat-card></a>
    <mat-card class="cfg">
      <mat-icon>settings</mat-icon>
      <mat-card-content>Gerenciar Clientes</mat-card-content>
    </mat-card>
    <mat-card class="cal">
      <mat-icon>calendar_today</mat-icon>
      <mat-card-content>Calendário de Pagamentos</mat-card-content>
    </mat-card>
  </div>
</div>
