<div class="main">
  <h3>©2023 Powered by Guilherme Arantes</h3>
  <section class="socialMedia">
    <a class="facebook" href="https://www.facebook.com/guii.arantes" target="_blank"><img src="../assets/facebook-logo.png"></a>

    <a class="instagram" href="https://www.instagram.com/guii_arantes/" target="_blank"><img src="../assets/instagram-logo.png"></a>

    <a class="linkedin" href="https://www.linkedin.com/in/guilhermearantes17" target="_blank"><img src="../assets/linkedin-logo.png"></a>

  </section>
</div>
